<!-- About Us Slider
============================================= -->
<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('img/slider/john-towner-128480.jpg'); padding: 120px 0;" data-stellar-background-ratio="0.3">
	<div class="container clearfix">
		<h1><%= __('About Us') %></h1>
		<span><%= __('Everything you need to know about Runic Era Capital') %></span>
	</div>
</section>

<!-- History Content
============================================= -->
<section id="content">
	<div class="content-wrap">
		<div class="section notopborder nomargin header-stick">
			<div class="container clearfix">
				<div class="heading-block">
					<h2><%= __('History') %> &amp; <%= __('Background') %></h2>
					<span><%= __('From point of conception and forward...') %></span>
				</div>
				<blockquote class="col_one_fourth">
					<h3><%- __('Teamwork divides the task &amp; multiplies the success.') %></h3>
				</blockquote>
				<div class="col_three_fourth col_last">
					<p><%= __('From first conception and being established privately in 2015 as Phoenix Capital by two likeminded colleagues and good friends, Sujoy Sikder and Joshua J. Bouw, Phoenix has now been rebranded as Runic Era Capital as of March 2017, after 2 years of success.') %></p>
					<p><%- __('Both Sujoy and Joshua aim to ensure this venture is worthwhile for all those involved. Driven by their common goal to not only work towards developing tools for Runic Era Capital&#39;s own use, they aim to also open source the technology by releasing tools for other developers to freely use.') %></p>
					<p><%- __('With a successful track record, both recorded and verifiable in the Foreign Exchange markets, the projected goal to develop a team of participants and investors will ensure Runic Era Capital&#39;s positioning and competitiveness in the global markets.') %></p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Four Pillars
============================================= -->
<section id="content">
	<div class="row topmargin-md nobottommargin">
		<div class="heading-block center">
			<h2><%= __('Our Four Pillar Philosophy') %></h2>
			<span class="divcenter"><%= __('At Runic Era Capital, we were founded by like-minded individuals whom are driven by our core philosophy.') %></span>
		</div>
	</div>
	<div class="container clearfix bottommargin-lg">
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-globe fa-5x" aria-hidden="true"></i>
				</div>
				<h3><%= __('Ethical') %><span class="subtitle"><%= __('We will never back anything that can cause gross harm to others.') %></span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="i-alt noborder icon-wallet"></i>
				</div>
				<h3><%= __('Profitable') %><span class="subtitle"><%= __('We endeavour to ensure our strategies deliver positive growth.') %></span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-life-ring fa-5x" aria-hidden="true"></i>
				</div>
				<h3><%= __('Risk Manageable') %><span class="subtitle"><%= __('We strive to ensure that the equity is manageable at all times.') %></span></h3>
			</div>
		</div>
		<div class="col_one_fourth nobottommargin col_last">
			<div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
				<div class="fbox-icon">
					<i class="fa fa-arrow-circle-up fa-5x" aria-hidden="true"></i>
				</div>
				<h3><%= __('Steady Growth') %><span class="subtitle"><%= __('We safeguard to have a progressive incline on our growth, safely.') %></span></h3>
			</div>
		</div>
	</div>

<!-- Statistics for nerdz
============================================= -->
	<div class="section nomargin">
		<div class="container clearfix">
			<div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
				<i class="fa fa-usd fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="300" data-refresh-interval="50" data-speed="2500"></span>K+</div>
				<h5><%= __('Assets Under Management') %></h5>
			</div>
			<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
				<i class="fa fa-exchange fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="14" data-refresh-interval="100" data-speed="2500"></span></div>
				<h5><%= __('Exchanges Trading On') %></h5>
			</div>
			<div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
				<i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="9" data-refresh-interval="25" data-speed="2500"></span>%</div>
				<h5><%= __('Average Monthly Growth') %></h5>
			</div>
			<div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
				<i class="fa fa-users fa-5x" aria-hidden="true"></i>
				<div class="counter counter-lined"><span data-from="0" data-to="80" data-refresh-interval="30" data-speed="2500"></span>+</div>
				<h5><%= __('Active Clients') %></h5>
			</div>
		</div>
	</div>
</section>